<div class="sidebar" [ngClass]="isClose ? 'sidebar close': 'sidebar'">    
    <ul class="nav-links">       
        <li [ngClass]="isShow1? 'showMenu': ''" >
            <div class="icon-link">
                <a href="#">
                    <fa-icon class='bx bx-collection' [icon]="faLayerGroup"></fa-icon>
                    <span class="link-name">Menu</span>
                </a>
                <fa-icon class='bx bxs-chevron-down arrow' [icon]="faChevronDown" (click)="showMenu1()"></fa-icon> 
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Menu</a></li>
                <li><a href="#">Menu 1</a></li>
                <li><a href="#">Menu 2</a></li>
                <li><a href="#">Menu 3</a></li>
                <li><a href="#">Menu 4</a></li>
                <li><a href="#">Menu 5</a></li>
                <li><a href="#">Menu 6</a></li>
                <li><a href="#">Menu 7</a></li>
                <li><a href="#">Menu 8</a></li>
                <li><a href="#">Menu 9</a></li>
                <li><a href="#">Menu 10</a></li>
            </ul>
        </li>        
        <li>
            <a href="#">
                <fa-icon class='bx bx-pie-chart-alt-2' [icon]="faBook"></fa-icon>
                <span class="link-name">Novedades</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Novedades</a></li>                   
            </ul>
        </li>
        <li>
            <a href="#">
                <fa-icon class='bx bx-line-chart' [icon]="faChartSimple"></fa-icon>
                <span class="link-name">Reporte Generales</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Reportes Generales</a></li>                   
            </ul>
        </li>        
        <li>
            <a href="#">
                <fa-icon class='bx bx-compass' [icon]="faAddressBook"></fa-icon>
                <span class="link-name">Datos Personal</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Datos Personal</a></li>                   
            </ul>
        </li>        
        <li>
            <a href="#">
                <fa-icon class='bx bx-cog' [icon]="faGear"></fa-icon>
                <span class="link-name">Setting</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Setting</a></li>                   
            </ul>
        </li>
        <li>
            <div class="profile-details">
                <div class="profile-content">
                    <img src="../../../assets/img/profileimg.jpg" alt="profile">
                </div>
                <div class="name-job">
                    <div class="profile_name">Fede Boainain</div>
                    <div class="job">Acceso al Sistema: 10</div>
                </div>
                <fa-icon class='bx bx-log-out' [icon]="logout"></fa-icon>
            </div>
        </li>
    </ul>
</div>
<section class="home-section">
    <div class="home-content">
        <fa-icon  class="bx-menu" [icon]="faBars" (click)="openClose()"></fa-icon>            
    </div>
</section>