/* .home-section{
    position: relative;
    background: #b2c2f0;
    height: 100vh;
    left: 0px;       
    width: calc(100% - 0px);
    transition: all 0.5s ease;
    
    
}
.sidebar.close ~ .home-section{
    left: 0px;
    width: calc(100% - 0px);
}
.home-section .home-content{
    height: 50px;
    display: flex;
    align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
    color: #0F4578;
    font-size: 22px;
    
}
.home-section .home-content .bx-menu{
    margin: 0 28px;
    cursor: pointer;
    
}
.home-section .home-content .text{
    font-size: 26px;
    font-weight: 600;
} */