table{
	box-shadow: var(--box-shadow);
	
}

.celdastitulo {
   font:15px var(--roboto);
   color: white;   
   background: var(--primary-color);
   
}

.celdasclaras {
   font:12px var(--roboto);
   color: black;
   text-align:left;
   
}

.btn{
	width: 40px;
	height: 20px;
   font: 12px var(--roboto);
	
}

.badge{
   
}