<div class="table-responsive-lg text-nowrap">
  <table class="table align-middle w-auto table-light table-hover caption-top">
    <caption>
      ENTRADAS WICO
    </caption>
    <thead class="tituloTabla">
      <tr>
        <th scope="col" class="celdastitulo">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
          </div>
        </th>
        <th scope="col" class="celdastitulo">id</th>
        <th scope="col" class="celdastitulo">Fecha</th>
        <th scope="col" class="celdastitulo">Remito N°</th>
        <th scope="col" class="celdastitulo">Yacimiento</th>
        <th scope="col" class="celdastitulo">Producto</th>
        <th scope="col" class="celdastitulo">Peso Neto</th>
        <th scope="col" class="celdastitulo">Lts Remito</th>
        <th scope="col" class="celdastitulo">Lts Peso</th>
        <th scope="col" class="celdastitulo">Descargado</th>
        <th scope="col" class="celdastitulo">Peso Neto</th>
        <th scope="col" class="celdastitulo">Fecha Remito</th>
        <th scope="col" class="celdastitulo">Proveedor</th>
        <th scope="col" class="celdastitulo">Estado</th>
        <th scope="col" class="celdastitulo">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
          </div>
        </th>
        <th scope="row" class="celdasclaras">4333</th>
        <td class="celdasclaras">28-10-2022</td>
        <td class="celdasclaras">15223</td>
        <td class="celdasclaras">Rincon de las Cenizas</td>
        <td class="celdasclaras">Crudo</td>
        <td class="celdasclaras">26600</td>
        <td class="celdasclaras">35390</td>
        <td class="celdasclaras">35372.34</td>
        <td class="celdasclaras">34832.75</td>
        <td class="celdasclaras">26600</td>
        <td class="celdasclaras">26-10-2022</td>
        <td class="celdasclaras">Total Austral S.A.</td>
        <td><span class="badge bg-success">Terminado</span></td>
        <td class="celdasclaras">
          <button class="btn btn-link btn-sm btn-rounded">Ver</button>
          <button class="btn btn-link btn-sm btn-rounded">Editar</button>
          <button class="btn btn-link btn-sm btn-rounded">Borrar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
