<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-success"
  data-bs-toggle="modal"
  data-bs-target="#modalEntradas"
>
  Nueva Entrada
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="modalEntradas"  
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Nueva Entrada</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="entradasForm" (ngSubmit)="onSubmit()">
          <input type="hidden" name="id" formControlName="id" />

          <div class="">
            <label for="fecha" class=""
              >Fecha</label>
            <div class="">
              <input
                type="date"
                name="fecha"
                formControlName="fecha"
                class="form-control"                
              />
            </div>
          </div>
          <div class="">
            <label for="fecha_remito" class=""
              >Fecha Remito</label>
            <div class="">
              <input
                type="date"
                name="fecha_remito"
                formControlName="fecha_remito"
                class="form-control"                
              />
            </div>
          </div>
          <div class="">
            <label for="yacimiento" class=""
              >Yacimiento</label>
            <div class="">
              <input
                type="text"
                name="yacimiento"
                formControlName="yacimiento"
                class="form-control"                
              />
            </div>
          </div>
          
          <div class="">
            <label for="producto" class=""
              >Producto</label>
            <div class="">
              <input
                type="text"
                name="producto"
                formControlName="producto"
                class="form-control"                
              />
            </div>
          </div>

          <div class="">
            <label for="proveedor" class=""
              >Proveedor</label>
            <div class="">
              <input
                type="text"
                name="proveedor"
                formControlName="proveedor"
                class="form-control"                
              />
            </div>
          </div>

          <div class="">
            <label for="nominal" class=""
              >Nominal</label>
            <div class="">
              <input
                type="number"
                name="nominal"
                formControlName="nominal"
                class="form-control"                
              />
            </div>
          </div>

          <div class="">
            <label for="bruto" class=""
              >Bruto</label>
            <div class="">
              <input
                type="number"
                name="bruto"
                formControlName="bruto"
                class="form-control"                
              />
            </div>
          </div>

          <div class="">
            <label for="tara" class=""
              >Tara</label>
            <div class="">
              <input
                type="number"
                name="tara"
                formControlName="tara"
                class="form-control"                
              />
            </div>
          </div>
          
          <div class="">
            <label for="remito" class=""
              >Remito</label>
            <div class="">
              <input
                type="number"
                name="remito"
                formControlName="remito"
                class="form-control"                
              />
            </div>
          </div>

          <div class="">
            <label for="densidad_15" class=""
              >Densidad_15</label>
            <div class="">
              <input
                type="number"
                name="densidad_15"
                formControlName="densidad_15"
                class="form-control"                
              />
            </div>
          </div>

          <div class="">
            <label for="descargado" class=""
              >Descargado</label>
            <div class="">
              <input
                type="number"
                name="descargado"
                formControlName="descargado"
                class="form-control"                
              />
            </div>
          </div>

          <div class="">
            <label for="estado" class=""
              >Estado</label>
            <div class="">
              <input
                type="text"
                name="estado"
                formControlName="estado"
                class="form-control"                
              />
            </div>
          </div>

            <div class="">
              <input
                type="hidden"
                name="checkbox"
                formControlName="checkbox"
                class="form-control"                               
              />
            </div>
          

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
            <button type="submit" class="btn btn-primary">Subir</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="table-responsive-lg text-nowrap">
  <table class="table align-middle w-auto table-light table-hover caption-top">
    <caption>
      ENTRADAS WICO
    </caption>
    <thead class="tituloTabla">
      <tr>
        <th scope="col" class="celdastitulo">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"              
            />
          </div>
        </th>
        <th scope="col" class="celdastitulo">id</th>
        <th scope="col" class="celdastitulo">Fecha</th>
        <th scope="col" class="celdastitulo">Remito N°</th>
        <th scope="col" class="celdastitulo">Yacimiento</th>
        <th scope="col" class="celdastitulo">Producto</th>
        <th scope="col" class="celdastitulo">Peso Neto</th>
        <th scope="col" class="celdastitulo">Lts Remito</th>
        <th scope="col" class="celdastitulo">Lts Peso</th>
        <th scope="col" class="celdastitulo">Descargado</th>
        <th scope="col" class="celdastitulo">Fecha Remito</th>
        <th scope="col" class="celdastitulo">Proveedor</th>
        <th scope="col" class="celdastitulo">Estado</th>
        <th scope="col" class="celdastitulo">Ver</th>
        <th scope="col" class="celdastitulo" *ngIf="btnEditar">Editar</th>
        <th scope="col" class="celdastitulo" *ngIf="btnDelete">Delete</th>
      </tr>
    </thead>
    <tbody *ngFor="let entrada of allEntradas, index as i">
      <tr>
        <th scope="row">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"              
              id="flexCheckDefault"
              [value]="entrada.id"              
              [checked]="entrada.checkbox"
              (change)="checkboxChanged($event)"
              *ngIf="btnCheckbox"
            />
          </div>
        </th>
        <th scope="row" class="celdasclaras">{{ i + 1 }}</th>
        <td class="celdasclaras">{{ entrada.fecha | date: "d/M/yy, h:mm" }}</td>
        <td class="celdasclaras">{{ entrada.remito }}</td>
        <td class="celdasclaras">{{ entrada.yacimiento }}</td>
        <td class="celdasclaras">{{ entrada.producto }}</td>
        <td class="celdasclaras">{{ entrada.bruto - entrada.tara | number: "1.2-2":"it" }}</td>
        <td class="celdasclaras">
          {{ entrada.nominal | number: "1.2-2":"it" }}
        </td>
        <td class="celdasclaras">
          {{ entrada.neto / entrada.densidad_15 | number: "1.2-2":"it" }}
        </td>
        <td class="celdasclaras">
          {{ entrada.descargado | number: "1.2-2":"it" }}
        </td>
        <td class="celdasclaras">
          {{ entrada.fecha_remito | date: "d/M/yy, h:mm" }}
        </td>
        <td class="celdasclaras">{{ entrada.proveedor }}</td>
        <td>
          <span class="badge bg-success">{{ entrada.estado }}</span>
        </td>
        <td class="celdasclaras">
          <button class="actions">
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="search"
            ></mat-icon>
          </button>
        </td>
          <td class="celdasclaras" *ngIf="entrada.checkbox">
            <button class="actions">
              <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="edit"
              ></mat-icon>
            </button>
          </td>
          <td class="celdasclaras" *ngIf="btnDelete">
            <button class="actions">
              <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="delete"
                style="color: red"
              ></mat-icon>
            </button>
          </td>
        
      </tr>
    </tbody>
  </table>
  <hr />
</div>
