<div class="">
    <table class="table table-light table-hover">
      <thead class="tituloTabla">
        <tr>
        <th scope="col" class="celdastitulo">id</th>	
        <th scope="col" class="celdastitulo">Fecha</th>		
        <th scope="col" class="celdastitulo">Remito Numero</th>
        <th scope="col" class="celdastitulo">Yacimiento</th>
        <th scope="col" class="celdastitulo">Producto</th>
        <th scope="col" class="celdastitulo">Peso Neto</th>
        <th scope="col" class="celdastitulo">Lts Remito</th>
        <th scope="col" class="celdastitulo">Lts Peso</th>
        <th scope="col" class="celdastitulo">Descargado</th>
        <th scope="col" class="celdastitulo">Peso Neto</th>
        <th scope="col" class="celdastitulo">Fecha Remito</th>
        <th scope="col" class="celdastitulo">Proveedor</th>
        <th scope="col" class="celdastitulo">Estado</th>
        <th scope="col" class="celdastitulo">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        
        <td class="celdasclaras">4333</td>		
        <td class="celdasclaras">28-10-2022</td> 
        <td class="celdasclaras">15223</td>
        <td class="celdasclaras">Rincon de las Cenizas</td>
        <td class="celdasclaras">Crudo</td>
        <td class="celdasclaras">26600</td>		
        <td class="celdasclaras">35390</td>
        <td class="celdasclaras">35372.34</td>
        <td class="celdasclaras">34832.75</td>
        <td class="celdasclaras">26600</td>
        <td class="celdasclaras">26-10-2022</td>
        <td class="celdasclaras">Total Austral S.A.</td>
        <td class="celdasclaras">Terminado</td>
        <td class="celdasclaras"><input type="button" value="Ver" onclick="location.href='carga.php?id=26'"></td>
      </tr>
    </tbody>    
  </table>
  </div>
